<h1>Your Sensors</h1>

<div id="context-filter-accordion">
    <%= render 'contextFilter'%>
</div>
<br>
<div id="table">
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead class="thead-dark">
        <tr>
            <th>Uri</th>
            <th>Sensor type</th>
            <th>Public</th>
            <th>Position</th>
            <th>Firmware</th>
            <th>Notifica down</th>
            <th>Tdown</th>
            <th>Measure unit</th>
            <th colspan="5"></th>
        </tr>
        </thead>

        <tbody>
        <% @sensors.each do |sensor| %>
            <tr>
                <td><%= sensor.URI %></td>
                <td><%= sensor.sensor_type %></td>
                <td><%= sensor.public %></td>
                <td><%= sensor.position %> <br> [<%= sensor.latitude %>,<%= sensor.longitude %>]</td>
                <td><%= sensor.firmware %></td>
                <td><%= sensor.notifica_down %></td>
                <td><%= sensor.tdown %></td>
                <td><%= sensor.measure_unit %></td>
                <td><%= link_to 'Show', sensor %></td>
                <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
                <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'Measurements', sensor_measurements_path(sensor) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<br>

<%= link_to 'New Sensor', new_sensor_path, class: "btn btn-primary" %>

<br>
<br>