<p id="notice"><%= notice %></p>

<p>
  <strong>Uri:</strong>
  <%= @sensor.URI %>
</p>
<%if @alarm then%>
<p>
    <strong style="color: red;">AVVISO ASSENZA MISURE RECENTI</strong>
</p>
<%end %>
<p>
  <strong>Sensor type:</strong>
  <%= @sensor.sensor_type %>
</p>

<p>
  <strong>Public:</strong>
  <%= @sensor.public %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @sensor.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @sensor.longitude %>
</p>

<%if @sensor.firmware.present? then %>
<p>
  <strong>Firmware:</strong>
  <%= @sensor.firmware %>
    <%= form_with url: "/sensors/#{@sensor.id}/download" do |form| %>
        <%= form.hidden_field :sensor_id, class:"form-control", value: @sensor.id%>
        <%= form.hidden_field :firmware, class:"form-control", value: @sensor.firmware%>
        <%= form.submit "Scarica file" %>
    <% end %>
</p>
<%else %>
    <p>Nessun firmware è stato caricato per questo sensore tramite l'applicazione</p>
<%end% %>
<p>
  <strong>Notifica down:</strong>
  <%= @sensor.notifica_down %>
</p>

<p>
  <strong>Tdown:</strong>
  <%= @sensor.tdown %>
</p>

<p>
  <strong>Measure unit:</strong>
  <%= @sensor.measure_unit %>
</p>

<h2>Carica/Aggiorna firmware</h2>
<div id="update_firmware">
    <%= form_with url: "/sensors/#{@sensor.id}/upload", multipart: true do |form| %>
        <%= form.file_field :firmware_file %>
        <%= form.hidden_field :sensor_id, class:"form-control", value: @sensor.id%>
        <%= form.submit %>
    <% end %>
</div>

<h2>Misure</h2>
<div id="measurements">
    <%= render @sensor.measurements %>
</div>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
