<p id="notice"><%= notice %></p>

<h1> Measurements of Sensor <%= @sensor.URI %></h1>
<h2> Sensor type : <%= @sensor.sensor_type %> </h2>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.timestamp.in_time_zone("Paris") %></td>
        <td><%= measurement.value %></td>
        <td><%= link_to 'Show', [@sensor, measurement] %></td>
        <td><%= link_to 'Edit', edit_sensor_measurement_path(@sensor, measurement) %></td>
        <td><%= link_to 'Destroy', [@sensor, measurement], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement', new_sensor_measurement_path(@sensor) %>
